/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    height: 60px;
    margin-right: 2rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu-item {
    margin-left: 2rem;
}

.navbar-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.signup-button {
    background-color: #3b4f64;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.signup-button:hover {
    background-color: #293038;
}