/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Align it to the top */
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  height: 60px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-menu-item {
  margin-left: 20px;
}

.navbar-link {
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-size: 18px;
}

.profile-pic {
  height: 40px;
  border-radius: 50%;
}

main {
  padding-top: 70px; /* Add padding to avoid content being hidden under the fixed navbar */
}

