/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #130f17, #39475f);
  background-size: cover;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main {
  flex: 1;
  padding-top: 60px; /* Adjust according to your navbar height */
}
