.company-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.title {
  margin-bottom: 20px;
  font-size: large;
  font-weight:bold;
}
.company-details, .company-form {
  margin-bottom: 20px;
}

.company-details-view {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.company-details-view p {
  margin: 5px 0;
}

.edit-button, .company-form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover, .company-form button:hover {
  background-color: #007bff;
}

.job-cards-container {
  margin-top: 20px;
}

.job-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.show-applicants-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 13px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.show-applicants-button:hover {
  background-color: #0056b3;
}
