.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    max-width: 700px;
    margin: auto;
    transition: box-shadow 0.3s ease;
}

.resume-container:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.resume-header {
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure full width */
    margin-bottom: 25px;
}

.resume-header h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #333;
}

.resume-header p {
    font-size: 1.2em;
    color: #555;
    margin: 7px 0; /* Ensure consistent margins */
}

.resume-details {
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure full width */
}

.resume-details p {
    font-size: 1.1em;
    color: #444;
    margin: 7px 0; /* Ensure consistent margins */
    padding-left: 15px; /* Add padding for tabulation */
    text-indent: -15px; /* Indent text for a tab effect */
}

.resume-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resume-form input,
.resume-form textarea {
    font-size: 1.1em;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.resume-form input:focus,
.resume-form textarea:focus {
    border-color: #3b5673;
    outline: none;
}

.resume-form button {
    font-size: 1.1em;
    padding: 12px 25px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background-color: #384f67;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-form button:hover {
    background-color: #0056b3;
}

.resume-edit-button {
    margin-top: 25px;
    font-size: 1.1em;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    background-color: #41707b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-edit-button:hover {
    background-color: #060606;
}
