.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #f0f0f0, #b0c4de);
}

.login-form input {
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

.password-container {
    position: relative;
    width: 300px;
    margin: 10px 0;
}

.password-container input {
    width: 100%;
    padding-right: 2.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-form button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #35475a;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}

.pekerja-image {
    max-width: 50%;
    object-fit: cover;
    height: auto;
    margin-left: 20px; /* Add margin-left for spacing */
}
